<section class="grid grid-cols-12 lg:px-[80px] md:px-[30px] px-[16px]">
  <div class="lg:col-span-4 sm:col-span-3 col-span-6">
    <div class="lg:py-[42px] md:py-[30px] sm:py-[20px] py-[12px]">
      <img src="./assets/images/main_logo.png" alt="main-logo" class="lg:h-[56px] md:h-[36px] h-[36px]" />
    </div>
  </div>
  <div class="lg:col-span-4 col-span-6">
    <div class="hidden sm:flex items-center justify-between lg:py-[59px] md:py-[40px] py-[24px]">
      <div class="md:text-[18px] text-[16px] leading-[22px] font-bold text-[#1D1D1F] cursor-pointer">Data</div>
      <div class="md:text-[18px] text-[16px] leading-[22px] font-bold text-[#1D1D1F] cursor-pointer">Services</div>
      <div class="md:text-[18px] text-[16px] leading-[22px] font-bold text-[#1D1D1F] cursor-pointer">Docs</div>
      <div class="md:text-[18px] text-[16px] leading-[22px] font-bold text-[#1D1D1F] cursor-pointer">Company</div>
      <div class="md:text-[18px] text-[16px] leading-[22px] font-bold text-[#1D1D1F] cursor-pointer">Contact</div>
    </div>
    <div class="sm:hidden flex justify-end items-center h-full">
      <div>
        <img src="./assets/images/humberger_menu.svg" alt="menu" />
      </div>
    </div>
  </div>
  <div class="lg:col-span-4 sm:col-span-3 col-span-12">
    <div class="hidden sm:flex justify-end items-center h-full">
      <button
        class="bg-[#59A745] text-white flex items-center justify-center gap-[10px] lg:px-[31px] md:px-[20px] px-[14px] lg:py-[16.5px] md:py-[12px] py-[10px] rounded-[60px] cursor-pointer"
      >
        <img src="./assets/images/console_menu.svg" alt="console-menu" class="max-md:h-[16px]" />
        <span class="lg:text-[22px] md:text-[16px] text-[14px] lg:leading-[27px] leading-[22px] font-semibold"
          >Console</span
        >
        <img src="./assets/images/arrow_forward.svg" alt="arrow-forward" class="max-md:[10px]" />
      </button>
    </div>
  </div>
</section>
<section id="hero-carousel" class="sm:h-[calc(100vh_-_140px)] w-full max-sm:px-[16px] max-sm:py-[75.5px]">
  <!-- Slider main container -->
  <div class="swiper h-full">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="custom-size h-full">
          <div class="w-full h-full flex justify-center items-center flex-col">
            <div class="flex justify-center items-center flex-col">
              <div class="text-[#1D1D1F] sm:text-[30px] text-[16px] sm:leading-[36px] leading-[20px] mb-2">
                Trading is exciting, data is grinding.
              </div>
              <div
                class="text-center lg:text-[130px] sm:text-[70px] text-[40px] lg:leading-[160px] sm:leading-[90px] leading-[48px] font-bold"
              >
                Enjoy trading, <br />Leave data to
                <span class="text-[#59a745]">algoseek.</span>
              </div>
            </div>
            <div class="text-[#575A5C] sm:text-[30px] text-[16px] sm:leading-[36px] leading-[20px] mt-4 md:mt-[32px]">
              Financial data, technology and services.
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="custom-size h-full">
          <div class="w-full h-full flex justify-center items-center flex-col">
            <div class="flex justify-center items-center flex-col">
              <div class="text-[#1D1D1F] sm:text-[30px] text-[16px] sm:leading-[36px] leading-[20px] mb-2">
                Math is neat, data is messy.
              </div>
              <div
                class="text-center lg:text-[130px] sm:text-[70px] text-[40px] lg:leading-[160px] sm:leading-[90px] leading-[48px] font-bold"
              >
                Enjoy math, <br />Leave data to
                <span class="text-[#59a745]">algoseek.</span>
              </div>
            </div>
            <div class="text-[#575A5C] sm:text-[30px] text-[16px] sm:leading-[36px] leading-[20px] mt-4 md:mt-[32px]">
              Financial data, technology and services.
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="custom-size h-full">
          <div class="w-full h-full flex justify-center items-center flex-col">
            <div class="flex justify-center items-center flex-col">
              <div class="text-[#1D1D1F] sm:text-[30px] text-[16px] sm:leading-[36px] leading-[20px] mb-2">
                Coding is logical, data is empirical.
              </div>
              <div
                class="text-center lg:text-[130px] sm:text-[70px] text-[40px] lg:leading-[160px] sm:leading-[90px] leading-[48px] font-bold"
              >
                Enjoy coding, <br />Leave data to
                <span class="text-[#59a745]">algoseek.</span>
              </div>
            </div>
            <div class="text-[#575A5C] sm:text-[30px] text-[16px] sm:leading-[36px] leading-[20px] mt-4 md:mt-[32px]">
              Financial data, technology and services.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="bg-[url('./assets/images/stats_bg.png')] bg-no-repeat bg-cover lg:p-[120px] md:p-[30px] p-[16px] md:py-[60px] py-[40px] w-full"
>
  <div class="lg:text-[30px] text-[20px] font-semibold lg:mb-[80px] mb-[40px] text-white text-center lg:px-[82px]">
    Since out inception in 2015, we've been fusing advanced technology and finacial data know-how to empower our clients
    worldwide to achieve business success.
  </div>
  <div class="flex justify-between max-md:flex-wrap max-sm:flex-col max-md:gap-y-[30px]">
    <div class="flex flex-col items-center">
      <div class="text-[#59A745] text-[20px] leading-[28px] font-semibold lg:mb-[16px] mb-[8px]">Subscribed by</div>
      <div class="bg-[#59A745] h-[3px] w-[24px] mx-auto"></div>
      <div class="flex flex-col items-center lg:mt-[16px] mt-[8px] gap-1">
        <div class="lg:text-[60px] text-[36px] lg:leading-[66px] leading-[48px] font-bold text-white">550+</div>
        <div class="text-[20px] leading-[28px] font-semibold text-white">Instituons</div>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <div class="text-[#59A745] text-[20px] leading-[28px] font-semibold lg:mb-[16px] mb-[8px]">Subscribed by</div>
      <div class="bg-[#59A745] h-[3px] w-[24px] mx-auto"></div>
      <div class="flex flex-col items-center lg:mt-[16px] mt-[8px] gap-1">
        <div class="lg:text-[60px] text-[36px] lg:leading-[66px] leading-[48px] font-bold text-white">550+</div>
        <div class="text-[20px] leading-[28px] font-semibold text-white">Instituons</div>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <div class="text-[#59A745] text-[20px] leading-[28px] font-semibold lg:mb-[16px] mb-[8px]">Subscribed by</div>
      <div class="bg-[#59A745] h-[3px] w-[24px] mx-auto"></div>
      <div class="flex flex-col items-center lg:mt-[16px] mt-[8px] gap-1">
        <div class="lg:text-[60px] text-[36px] lg:leading-[66px] leading-[48px] font-bold text-white">550+</div>
        <div class="text-[20px] leading-[28px] font-semibold text-white">Instituons</div>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <div class="text-[#59A745] text-[20px] leading-[28px] font-semibold lg:mb-[16px] mb-[8px]">Subscribed by</div>
      <div class="bg-[#59A745] h-[3px] w-[24px] mx-auto"></div>
      <div class="flex flex-col items-center lg:mt-[16px] mt-[8px] gap-1">
        <div class="lg:text-[60px] text-[36px] lg:leading-[66px] leading-[48px] font-bold text-white">550+</div>
        <div class="text-[20px] leading-[28px] font-semibold text-white">Instituons</div>
      </div>
    </div>
  </div>
</section>
<div class="fixed bottom-[25px] right-[17px]">
  <img src="./assets/images/talk_to_us_button.png" class="lg:h-[80px] sm:h-[70px] h-[64px]" />
</div>
