<div
  class="bg-gradient-to-t from-[#A29BFE4C] to-[#6C5CE74C] text-4xl font-Lilita-one lg:h-[180px] md:h-[130px] h-[80px] flex items-center justify-center fixed w-full top-0 left-0 z-10"
>
  <div class="container">
    <div class="flex items-center justify-center md:gap-5 sm:gap-3 gap-2 md:text-[50px] sm:text-[30px] text-[18px] text-[#FFB400]">
      <div class="cursor-pointer hover">Home</div>
      <div>|</div>
      <div class="cursor-pointer">Sobre</div>
      <div>|</div>
      <div class="cursor-pointer">Cadastro</div>
      <div>|</div>
      <div class="cursor-pointer">Login</div>
    </div>
  </div>
</div>
<div class="bg-shape w-full lg:pt-[260px] md:pt-[170px] pt-[90px] font-Lilita-one relative">
  <div class="container mx-auto">
    <div class="md:grid md:grid-cols-2 place-items-center max-sm:gap-12 max-sm:flex max-sm:flex-col max-sm:items-start relative">
      <div>
        <div class="lg:text-[100px] md:text-[70px] text-[50px] lg:leading-[114px] md:leading-[80px] leading-[60px] text-white lg:mb-[60px] md:mb-[42px] mb-[30px]">CIÊNCIAS<br> HUMANAS</div>
        <div
          class="lg:text-[40px] md:text-[24px] text-[18px] lg:leading-[60px] md:leading-[36px] leading-[24px]  lg:w-[320px] w-[160px] 
          flex justify-center items-center py-[8px] text-white bg-[#FFB400] rounded-full cursor-pointer font-poppins"
        >
          Começar
        </div>
      </div>
      <div class="hero-img"></div>
    </div>
  </div>
  <div class="res-shape-wave"></div>
</div>
<div class="font-Lilita-one lg:py-[133px] md:py-[80px] py-[60px]">
  <div class="container mx-auto">
    <div class="lg:text-[50px] md:text-[30px] text-[18px] lg:leading-[57px] md:leading-[42px] leading-[30px] text-[#6C5CE7]">
      <div>Prova com 10 questões gerais sobre a matéria de ciências humanas.</div>
      <br />
      <div>O que são as Ciências Humanas?</div>
      <br />
      <div>
        A área das Ciências Humanas é o conjunto de ciências que tem como objeto de estudo o ser humano. Entre as
        ciências da área de humanas, estão a Filosofia, Sociologia ou Ciências Sociais, História, Geografia, Letras,
        Teologia, Antropologia, Comunicação Social, Psicologia, Linguística, Artes, entre outras.
      </div>
    </div>
  </div>
</div>
<div class="font-Lilita-one lg:pb-[180px] md:pb-[120px] pb-[90px] ">
  <div class="container mx-auto">
    <div class="flex justify-center flex-col w-full lg:gap-y-[56px] md:gap-y-[36px] gap-y-[12px]">
      <div
        class="cursor-pointer lg:max-w-[670px] md:max-w-[520px] max-w-[213px] text-center mx-auto w-full text-[#6C5CE7] lg:text-[60px] md:text-[48px] text-[30px] lg:leading-[68px] md:leading-[40px] leading-[38px] font-normal"
      >
        Cadastro
      </div>
      <div
        class="cursor-pointer lg:max-w-[670px] md:max-w-[520px] max-w-[213px] w-full text-center mx-auto bg-[#A29BFE] text-white font-extralight font-poppins lg:text-[40px] md:text-[24px] text-[18px] lg:leading-[60px] md:leading-[36px] leading-[28px] py-[8px] rounded-full"
      >
        Nome 15
      </div>
      <div
        class="cursor-pointer lg:max-w-[670px] md:max-w-[520px] max-w-[213px] w-full text-center mx-auto bg-[#A29BFE] text-white font-extralight font-poppins lg:text-[40px] md:text-[24px] text-[18px] lg:leading-[60px] md:leading-[36px] leading-[28px] py-[8px] rounded-full"
      >
        Email
      </div>
      <div
        class="cursor-pointer lg:max-w-[670px] md:max-w-[520px] max-w-[213px] w-full text-center mx-auto bg-[#A29BFE] text-white font-extralight font-poppins lg:text-[40px] md:text-[24px] text-[18px] lg:leading-[60px] md:leading-[36px] leading-[28px] py-[8px] rounded-full"
      >
        senha
      </div>
      <div
        class="lg:max-w-[670px] md:max-w-[520px] max-w-[213px] w-full text-center mx-auto text-[#6C5CE7] font-extralight font-poppins lg:text-[40px] md:text-[24px] text-[18px] lg:leading-[60px] md:leading-[36px] leading-[28px] py-[8px] rounded-full flex justify-center flex-col items-center"
      >
        já tem uma conta?
        <div
          class="cursor-pointer lg:text-[40px] md:text-[24px] text-[18px] lg:leading-[60px] md:leading-[36px] leading-[28px] lg:w-[305px] md:w-[270px] w-[213px] flex justify-center items-center py-[8px] text-white bg-[#FFB400] rounded-full font-poppins"
        >
          Concluir
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clippy-path-bg">
  <div class="container mx-auto h-full">
    <div class="flex items-end h-full">
      <div class="lg:text-[50px] max-[767px]:max-w-[135px] md:text-[30px] text-[18px] lg:leading-[75px] md:leading-[42px] leading-[30px] font-medium font-poppins text-white">© Vinícius Neves Costa</div>
    </div>
  </div>
</div>
