@use 'swiper/css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  src: url('assets/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('assets/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  .font-Lilita-one {
    font-family: 'Lilita One', serif !important;
    font-weight: 400;
    font-style: normal;
  }
}
@layer base {
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
}

body {
  font-family: 'Helvetica', sans-serif;
}

:root {
  --color-1: #191919;
  --color-2: #474747;
  --color-3: #767676;
  --color-4: #a3a3a3;
  --color-5: #e6e6e6;
  --color-6: #f4f4f4;
  --color-7: #ffffff;

  --theme-1: #20c997;
  --theme-2: #9e0a0a;
  --theme-3: #FFB400;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
}
.bg-shape{
	background-image: url("./assets/images/fundo.png");
	height: 1040px;
	@media screen and (max-width: 1023px) {
		height: 720px;
	}
	@media screen and (max-width: 767px) {
		height: 620px;
	}
}
.hero-img{
	background-image: url("./assets/images/hero-image.png");
	height: 640px;
    object-fit: contain;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
	position: relative;
	@media screen and (max-width: 1023px) {
		height: 440px;
		background-position: center;
		
	}
	@media screen and (max-width: 767px) {
		height: 240px;
		background-position: center;
	}
}
.clippy-path-bg{
	clip-path: polygon(100% 100%, 0% 100% , 0.00% 10.02%, 2.00% 11.63%, 4.00% 13.28%, 6.00% 14.96%, 8.00% 16.62%, 10.00% 18.26%, 12.00% 19.84%, 14.00% 21.33%, 16.00% 22.72%, 18.00% 23.98%, 20.00% 25.09%, 22.00% 26.04%, 24.00% 26.80%, 26.00% 27.37%, 28.00% 27.75%, 30.00% 27.91%, 32.00% 27.86%, 34.00% 27.61%, 36.00% 27.14%, 38.00% 26.48%, 40.00% 25.64%, 42.00% 24.62%, 44.00% 23.44%, 46.00% 22.12%, 48.00% 20.68%, 50.00% 19.14%, 52.00% 17.54%, 54.00% 15.88%, 56.00% 14.21%, 58.00% 12.54%, 60.00% 10.91%, 62.00% 9.33%, 64.00% 7.84%, 66.00% 6.45%, 68.00% 5.19%, 70.00% 4.08%, 72.00% 3.13%, 74.00% 2.37%, 76.00% 1.79%, 78.00% 1.42%, 80.00% 1.26%, 82.00% 1.30%, 84.00% 1.56%, 86.00% 2.02%, 88.00% 2.68%, 90.00% 3.53%, 92.00% 4.55%, 94.00% 5.73%, 96.00% 7.05%, 98.00% 8.49%, 100.00% 10.02%);
	background-color: #191919;
	height: 240px;
	@media screen and (max-width: 1023px) {
		height: 160px;
	}
	@media screen and (max-width: 767px) {
		height: 102px;
		clip-path: polygon(100% 100%, 0% 100% , 0.00% 14.83%, 2.00% 17.24%, 4.00% 19.72%, 6.00% 22.23%, 8.00% 24.73%, 10.00% 27.18%, 12.00% 29.55%, 14.00% 31.79%, 16.00% 33.87%, 18.00% 35.76%, 20.00% 37.43%, 22.00% 38.85%, 24.00% 39.99%, 26.00% 40.85%, 28.00% 41.41%, 30.00% 41.65%, 32.00% 41.58%, 34.00% 41.20%, 36.00% 40.51%, 38.00% 39.52%, 40.00% 38.25%, 42.00% 36.71%, 44.00% 34.95%, 46.00% 32.97%, 48.00% 30.81%, 50.00% 28.51%, 52.00% 26.10%, 54.00% 23.62%, 56.00% 21.11%, 58.00% 18.61%, 60.00% 16.15%, 62.00% 13.79%, 64.00% 11.55%, 66.00% 9.46%, 68.00% 7.57%, 70.00% 5.91%, 72.00% 4.49%, 74.00% 3.34%, 76.00% 2.48%, 78.00% 1.92%, 80.00% 1.68%, 82.00% 1.75%, 84.00% 2.13%, 86.00% 2.83%, 88.00% 3.81%, 90.00% 5.09%, 92.00% 6.62%, 94.00% 8.39%, 96.00% 10.37%, 98.00% 12.52%, 100.00% 14.83%);
	}
}
.res-shape-wave{
	@media screen and (max-width: 1023px) {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0;
	height: 90px;
	background: #fff;
	clip-path: polygon(100% 100%, 0% 100% , 0.00% 37.50%, 2.00% 37.28%, 4.00% 36.62%, 6.00% 35.54%, 8.00% 34.07%, 10.00% 32.24%, 12.00% 30.11%, 14.00% 27.74%, 16.00% 25.18%, 18.00% 22.51%, 20.00% 19.79%, 22.00% 17.10%, 24.00% 14.50%, 26.00% 12.08%, 28.00% 9.89%, 30.00% 7.99%, 32.00% 6.43%, 34.00% 5.26%, 36.00% 4.50%, 38.00% 4.18%, 40.00% 4.30%, 42.00% 4.86%, 44.00% 5.84%, 46.00% 7.23%, 48.00% 8.97%, 50.00% 11.04%, 52.00% 13.36%, 54.00% 15.88%, 56.00% 18.54%, 58.00% 21.25%, 60.00% 23.96%, 62.00% 26.58%, 64.00% 29.05%, 66.00% 31.29%, 68.00% 33.27%, 70.00% 34.91%, 72.00% 36.17%, 74.00% 37.03%, 76.00% 37.45%, 78.00% 37.44%, 80.00% 36.98%, 82.00% 36.09%, 84.00% 34.79%, 86.00% 33.13%, 88.00% 31.13%, 90.00% 28.86%, 92.00% 26.38%, 94.00% 23.75%, 96.00% 21.04%, 98.00% 18.33%, 100.00% 15.68%);
	}
	@media screen and (max-width: 767px) {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0;
	height: 65px;
	background: #fff;
	clip-path: polygon(100% 100%, 0% 100% , 0.00% 29.65%, 2.00% 34.47%, 4.00% 39.43%, 6.00% 44.45%, 8.00% 49.45%, 10.00% 54.36%, 12.00% 59.09%, 14.00% 63.57%, 16.00% 67.74%, 18.00% 71.52%, 20.00% 74.85%, 22.00% 77.69%, 24.00% 79.99%, 26.00% 81.71%, 28.00% 82.82%, 30.00% 83.31%, 32.00% 83.17%, 34.00% 82.40%, 36.00% 81.02%, 38.00% 79.04%, 40.00% 76.49%, 42.00% 73.43%, 44.00% 69.89%, 46.00% 65.93%, 48.00% 61.62%, 50.00% 57.01%, 52.00% 52.20%, 54.00% 47.24%, 56.00% 42.22%, 58.00% 37.21%, 60.00% 32.31%, 62.00% 27.58%, 64.00% 23.09%, 66.00% 18.93%, 68.00% 15.15%, 70.00% 11.81%, 72.00% 8.97%, 74.00% 6.68%, 76.00% 4.96%, 78.00% 3.85%, 80.00% 3.36%, 82.00% 3.50%, 84.00% 4.27%, 86.00% 5.65%, 88.00% 7.63%, 90.00% 10.17%, 92.00% 13.24%, 94.00% 16.78%, 96.00% 20.73%, 98.00% 25.05%, 100.00% 29.65%);
	}
}
